{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>My Finance</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
     {% tailwind_css %}

</head>
<body >
<div class="flex  w-full h-screen ">
    <div class="flex w-1/2 justify-center bg-accent" style="width: 50%">
        {% include 'includes/slider.html' %}
    </div>
    <div class="relative flex w-1/2 justify-center bg-primary" style="width: 50%">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>

{#background: #c7c7c7#}