{% extends "main.html" %}


{#{% block title %}#}
{#    <h1 class='text-3xl font-bold'> CNN Model </h1>#}
{#{% endblock %}#}

{% block content %}

    <article class='max-w-4xl mx-auto mt-5 pb-20 space-y-4 overflow-auto '>
        <div class='space-y-2 text-lg leading-relaxed '>
             <h2 class="text-3xl font-bold mb-5">
                Welcome to the Image Recognizer Project!
            </h2>
            <p>
                <b> The Convolutional Neural Network </b> with 96% of accuracy is applied for the image category prediction.
            </p>

            <p class="text-bold my-5">
                The main concepts used in the current neural network are:
            </p>
            <ul class='list-disc list-inside '>
                <li>Increasing Data Logging that is a strategy to significantly increase the variety of data available for training models without collecting new data.</li>
                <li>Normalization, e.g., batch normalization, the method for increasing artificial neural networks' speed, performance, and stability. It normalises the input layer by re-centring and scaling the image.</li>
                <li>Dropout is a regularization technique used in deep learning models to prevent overfitting, which randomly drop out (set to zero) some neurons in the network during training. This way forces the remaining neurons to learn more robust features that are generalizable to new data.</li>
            </ul>
        </div>


{% endblock %}

