{% extends "main.html" %}

{% block title %}
    <h1 class='text-3xl font-bold'>Prediction</h1>
{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center">
        <div class='flex flex-col md:flex-row w-full items-center justify-center '>

            {% include 'includes/input.html' %}

        </div>
    </div>

    {% include 'includes/buttons.html' %}

{% endblock %}

<h2 id="History" class="text-3xl font-bold my-5 text-center">History</h2>
    <div class="container flex flex-wrap items-center justify-center w-full p-4 gap-5">

    {% for photo in photos %}

        <div class="bg-[#012210b3] dark:bg-white w-72 pb-4 rounded-3xl shadow-lg overflow-hidden">
            <div class="flex flex-col items-center justify-center">

                {% include 'includes/image.html' %}

            <div class="flex items-center justify-between w-full px-4">
                <form class="px-3 py-1 bg-green-800 hover:bg-green-900 text-white border rounded-lg capitalize"  method="post" action="{% url 'predict_cifar10_dropdown' photo.pk %}">
                  {% csrf_token %}
                  <button type="submit" >
                  Prediction
                  </button>
            </form>
                <form class="px-3 py-1 bg-red-600 hover:bg-red-800 text-white border rounded-lg capitalize" method="post" action="{% url 'delete_photo' photo.pk %}">
              {% csrf_token %}
              <button type="submit" >
                  Delete
              </button>
            </form>
            </div>
             </div>
        </div>

    {% endfor %}
</div>