{% extends 'base.html' %}

{% block header %}
    <div class="flex-col items-center" style='align-items: center; justify-content: center; display: flex'>
        <h2 class='flex font-bold text-3xl text-gray-900 tracking-tight mb-5'> Basic Photo Upload</h2>
    </div>
{% endblock %}

{% block content %}

{% block javascript %}
    {% load static %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'mediauploadapp/js/basic-upload-photo.js' %}"></script>
{% endblock %}

{% block photos_content %}
  <div style="margin-bottom: 20px;">
  <label class="inline-block mb-2 text-gray-500">Upload Image(jpg,png,svg,jpeg)</label>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" id="fileupload" data-url="{% url 'basic_upload' %}">
    <button class="text-white px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" type="submit">Upload a photo</button>
  </form>

  </div>

  </div>
  <table id="gallery" class="min-w-full text-center">
    <thead class="border-b bg-gray-800 ">
      <tr>
        <th scope="col" class="text-sm flex-bold text-white px-7 py-5 text-2xl ">All Photos</th>
      </tr>
    </thead>
    <tbody >
      {% for photo in photos %}

          <!-- Image gird -->
        <div class="p-4 grid grid-cols-4 gap-4 ">

            <div>
                <img class="w-full h-full object-cover cursor-pointer"
                 src="{{ photo.file.url }}" alt="Flower"
            onclick="showModal(src)" />
            </div>

        </div>

        <tr>
          <td><a class = "text-gray-500" href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
          <td class="text-center ">
            <form method="post" action="{% url 'delete_photo' photo.pk %}">
              {% csrf_token %}
              <button class="pointer px-6 py-4 flex-inline items-center justify-center text-red-600" type="submit" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m6 4.125l2.25 2.25m0 0l2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                  </svg></button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
      <!-- The Modal -->
    <div id="modal"
        class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a class="fixed z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a>

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
    </div>

    <script>
        // Get the modal by id
        var modal = document.getElementById("modal");

        // Get the modal image tag
        var modalImg = document.getElementById("modal-img");

        // this function is called when a small image is clicked
        function showModal(src) {
            modal.classList.remove('hidden');
            modalImg.src = src;
        }

        // this function is called when the close button is clicked
        function closeModal() {
            modal.classList.add('hidden');
        }
    </script>
{% endblock %}

{% endblock %}