{% extends 'base.html' %}
{% block title %}
<div class="flex flex-col justify-center items-center" xmlns="http://www.w3.org/1999/html">
    <h2 class="text-3xl font-bold mb-5">How it works?</h2>
    <div class="">
            <p class=" tracking-wide"> The tool can do even better: classify 100 categories:</p>
            <details> 'apple', 'aquarium_fish', 'baby', 'bear', 'beaver', 'bed', 'bee',
               'beetle', 'bicycle', 'bottle', 'bowl', 'boy', 'bridge', 'bus',
               'butterfly', 'camel', 'can', 'castle', 'caterpillar', 'cattle',
               'chair', 'chimpanzee', 'clock', 'cloud', 'cockroach', 'couch',
               'crab', 'crocodile', 'cup', 'dinosaur', 'dolphin', 'elephant',
               'flatfish', 'forest', 'fox', 'girl', 'hamster', 'house',
               'kangaroo', 'keyboard', 'lamp', 'lawn_mower', 'leopard', 'lion',
               'lizard', 'lobster', 'man', 'maple_tree', 'motorcycle',
               'mountain', 'mouse', 'mushroom', 'oak_tree', 'orange', 'orchid',
               'otter', 'palm_tree', 'pear', 'pickup_truck', 'pine_tree',
               'plain', 'plate', 'poppy', 'porcupine', 'possum', 'rabbit',
               'raccoon', 'ray', 'road', 'rocket', 'rose', 'sea', 'seal',
               'shark', 'shrew', 'skunk', 'skyscraper', 'snail', 'snake',
               'spider', 'squirrel', 'streetcar', 'sunflower', 'sweet_pepper',
               'table', 'tank', 'telephone', 'television', 'tiger', 'tractor',
               'train', 'trout', 'tulip', 'turtle', 'wardrobe', 'whale',
               'willow_tree', 'wolf', 'woman', 'worm'</details>
            <p>Check if our classifier recognized your pictures correctly</p>
          </div>
</div>
{% endblock %}

{% block content %}

{% block javascript %}
    {% load static %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'mediauploadapp/js/basic-upload-photo.js' %}"></script>
{% endblock %}

        <div class="flex flex-col justify-center align-center">
        <div class='flex flex-col md:flex-row items-center justify-center border md:border-transparent shadow rounded-lg bg-[#022e16]'>

            <!-- Input Cifar10 Cifar-100 -->
            <div class=" flex items-center justify-center mb-2 md:mb-0 p-5 w-full md:w-1/2  h-[300px] ">

            <form class="flex w-full items-start justify-center gap-5" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="flex flex-col justify-center gap-5">
            <label class="block mb-4 text-sm font-medium uppercase text-white" for="large_size">Upload Image(jpg,png,svg,jpeg)</label>
            <input type="file" name="file" id="fileupload" data-url="{% url 'basic_upload' %}" class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-[#d0e4da] dark:text-gray-400 focus:outline-none dark:bg-green-100 dark:border-gray-600 dark:placeholder-gray-500" >
                <button class="text-white dark:text-gray-900 px-10 py-2 border bg-[#012210b3] hover:bg-green-900 dark:bg-white rounded-lg  hover:bg-green-900 transition" type="submit">Predict</button>
         </div>
     </form>
            </div>

            <div class="w-full md:p-5 md:w-1/2 h-[300px] text-white">
                 <h1 class="uppercase font-bold text-center">Prediction:  <span class="capitalize font-serif">{{ predict_pictures }}</span></h1>
                <div class="flex flex-wrap justify-center">
                    <img src="{{ photo }}" class="h-[230px] max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30 object-fit" alt="" />
                </div>
            </div>
        </div>
    </div>

<!----------HISTORY---------->

{% block photos_content %}

    <div class="flex items-center justify-between px-10 mb-4">
        <form method="post" action="{% url 'clear_database' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="text-white px-5 py-2 mt-5 border shadow rounded-lg bg-[#012210b3] hover:bg-green-900" >
          Clear Database
        </button>
    </form>

        <form method="post" action="{% url 'photo_list' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="text-white px-5 py-2 mt-5 border shadow rounded-lg bg-[#012210b3] hover:bg-green-900" >
          Show all my photos
        </button>
  </form>
    </div>



    <div class="container flex flex-wrap items-center justify-center w-full p-4 gap-5">
    {% for photo in photos %}
        <div class="bg-[#012210b3] dark:bg-white w-72 pb-4 rounded-3xl shadow-lg overflow-hidden">
            <div class="flex flex-col items-center justify-center">
                <img class="w-full h-[150px] rounded-lg shadow-lg object-cover cursor-pointer" src="{{ photo.file.url }}" alt="{{ photo.file.name }}" onclick="showModal(src)"/>
                <div class="mt-1 mb-3 px-4 text-left w-full text-gray-100 dark:text-gray-900">
                    <h3 class="text-xl font-semibold">Prediction: {{ predict_pictures }}</h3>
                    <p class="mb-2 text-sm text-gray-400 dark:text-gray-900">
                        {{ photo.file.name }}
                    </p>
                </div>

            <div class="flex items-center justify-between w-full px-4">
                <form class="px-3 py-1 bg-green-800 hover:bg-green-900 text-white border rounded-lg capitalize"  method="post" action="{% url 'predict_cifar100_dropdown' photo.pk %}">
                  {% csrf_token %}
                  <button type="submit" >
                  Prediction
                  </button>
            </form>
                <form class="px-3 py-1 bg-red-600 hover:bg-red-800 text-white border rounded-lg capitalize" method="post" action="{% url 'delete_photo' photo.pk %}">
              {% csrf_token %}
              <button type="submit" >
                  Delete
              </button>
            </form>
            </div>
             </div>
        </div>

    {% endfor %}
</div>

{% endblock %}


      <!-- The Modal -->
    <div id="modal"
        class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a class="fixed z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a>

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
    </div>

    <script>
        // Get the modal by id
        var modal = document.getElementById("modal");

        // Get the modal image tag
        var modalImg = document.getElementById("modal-img");

        // this function is called when a small image is clicked
        function showModal(src) {
            modal.classList.remove('hidden');
            modalImg.src = src;
        }

        // this function is called when the close button is clicked
        function closeModal() {
            modal.classList.add('hidden');
        }
    </script>

{% endblock %}