{% extends 'base.html' %}
{#{% block title %}#}
{#        {% include 'includes/headerGallery.html' %}#}
{#{% endblock %}#}
{% block header %}
    <div class="flex gap-3">
        <a class="text-white px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href='{% url 'photo_upload_cifar10' %}'>CIFAR-10 </a>
        <a class="text-white px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href='{% url 'photo_upload_cifar100' %}'>CIFAR-100 </a>
        <a class="text-white px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href='{% url 'photo_list_chat_gpt' %}'>ChatGPT</a>
    </div>

{% endblock %}
{% block content %}


<div>
  <h1>Welcome to the Image recognizer tool, the Product of NAAImage Recognizer Group :)</h1>
  <h2>Explanations to each functionality:</h2>
    <ul>
      <li>- CIFAR-10: classification of 10 categories </li>
      <li>- CIFAR-100: classification of 100 categories  </li>
      <li>- ChatGPT: use chat trained on the YouTube channels and lecture texts of GoIT</li>
      <li>- Image Generator: give two images to generate a new image in the style you choose</li>
    </ul>


{#  <img class="object-scale-down h-48 w-96 ..." src="media/ml_models/model.png"  onclick="showModal(src)" >#}
</div>


{% endblock %}