<div class="fixed z-10 bottom-0 left-0 text-black w-full border-t border-black md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent bg-[#012210b3] ">

      <div class="flex px-3 pt-2 pb-3 items-center justify-center text-xs text-gray-100/50 md:px-3 md:pt-4 md:pb-5">
© 2023 |
{#        <a href="#" target="_blank" class="underline">#}
{#          Image Recognition app#}
{#        </a>#}
        &nbsp;Created with&nbsp;

          {% include 'includes/icons/heart.svg' %}

        by&nbsp;
          <a href="#" target="_blank" class="underline">GoIT Students</a>
      </div>
</div>
