{% load static %}
<nav class="bg-primary-light dark:bg-primary-dark">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
{#              <div class="flex-shrink-0 text-white">#}
{#                <img#}
{#                  class="h-10 w-10 "#}
{##}
{#                  src="{% static 'images/logo.svg' %}"#}
{#                  src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"#}
{#                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"#}
{#                  alt="Your Company"#}
{#                />#}
{#              </div>#}
            <!--    LOGO Title-->
                <a href={% url 'frontend:about' %} >
                    <h1 class='font-bold text-4xl flex text-red-600 dark:text-white tracking-tight uppercase ml-4'>
                        NA <img
                  class="h-10 w-10 "

{#                  src="{% static 'images/logo.svg' %}"#}
                  src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
{#                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"#}
                  alt="Your Company"
                /> AI
                </h1>
                </a>

{#                left side of the navbar#}
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4 nav">
                    <a
                    href="{% url 'frontend:about' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium news"
                    aria-current="page"
                    >Home</a
                  >
                  <a
                    href="{% url 'frontend:classifier' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium book"
                    aria-current="page"
                    >Classifier</a
                  >
{#                  z#}
                  <a
                    href="{% url 'frontend:team' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                    >Team</a
                  >
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <div class="ml-4 flex items-center justify-center md:ml-6">
{#                  <p class="text-[#6366f1] px-3 py-2 rounded-md text-sm font-medium">Hello, {{ user.username }}</p>#}

{#                  if dark theme icon is sun.svg els if light icon is moon.svg#}


                  <a href="{% url 'frontend:change-theme' %}">
                      {% if is_dark_theme %}

                          <button type="button" class="rounded-full  p-1 text-gray-400 hover:text-white duration-300 ">
                                {% include 'includes/icons/sun.svg' %}
                            </button>

                      {% else %}
                            <button type="button" class="rounded-full  p-1 text-gray-400 hover:text-white duration-300 ">
                              {% include 'includes/icons/moon.svg' %}
                          </button>
                      {% endif %}
                  </a>



                  <a href="{% url 'settings' user.username %}">
                    <button type="button" class="rounded-full  p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="sr-only p-1">User Settings</span>
                        {% include 'includes/icons/settings.svg' %}
                    </button>
                 </a>

                  <a href="{% url 'logout' %}">
                      <button type="button" class="rounded-full  p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="sr-only">Log out</span>
                        {% include 'includes/icons/logout.svg' %}
                      </button>
                  </a>

                <div class="relative ml-3">
                  <div class="flex items-center">
                    <img
                      class="h-8 w-8 rounded-full"
                      src="{{ user.avatar.url }}"
                      alt="avatar"
                    />

                  </div>
                </div>
              </div>
            </div>
          {% include 'includes/mob_menu_btn.html' %}
          </div>
        </div>
        {% include 'includes/mob_menu.html' %}
      </nav>