{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
  <head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'images/favicon.svg' %}">
    <title>NAAI</title>

    {% tailwind_css %}

  </head>

  <body>
    <div class="min-h-full">
     <!--  AUTH  -->
     {% block auth %}{% endblock %}
      <!--    NAVIGATION  -->

 {% include 'includes/navigation.html' %}
      <!--    HEADER-->
      <header class="flex relative  bg-white shadow flex items-center ">
        <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 ">
{#            {% block title %}{% endblock %}#}
            {% block header %}{% endblock %}
        <div class="flex flex-col absolute right-10 top-5 ">
            {% include 'includes/messages.html' %}
        </div>

        </div>
      </header>

      <!--    DASHBOARD-->
      <main class="dark:bg-primary bg-secondary">
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="px-4 sm:px-0">
            <div class="h-full rounded-lg border-4 border-gray-200 flex items-center">
              <div class="overflow-x-auto w-full h-full">
                <div class="flex items-center justify-center font-sans overflow-hidden p-5">
                    {% block tabs %}{% endblock %}
                  {% block content %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8"></div>
      </main>
    </div>

     <script>
        let links = document.querySelectorAll('.nav a');
        links.forEach(link => {
            const currentLink = document.URL;
            const route = currentLink.split('/')[3];
            const newsLink = document.querySelector('.news');
            const bookLink = document.querySelector('.book');
            const noteLink = document.querySelector('.note');

            if (link.href === currentLink) {
                link.classList.add('bg-gray-900');
            }
            if (route === 'newsapp') {
                newsLink.classList.add('bg-gray-900');
            }
            if (route === 'book_app') {
                bookLink.classList.add('bg-gray-900');
            }
            if (route === 'note_app') {
                noteLink.classList.add('bg-gray-900');
            }
        });
    </script>
    <script>
        let alert = document.querySelectorAll('.alert');
        setTimeout(() => {
            alert.forEach(alert => {
                alert.style.display = 'none';
            })
        }, 1500);
    </script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  </body>
</html>