{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
  <head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'images/favicon-3.png' %}">
      <title>NAAI</title>
      <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
     {% load static %}
      {% tailwind_css %}
  </head>

  <body class="h-full text-bg-gray-600  dark:text-gray-50 bg-gradient-to-br dark:from-[#012210] dark:to-[#009c4c] from-[#9dc9b3] to-white">
{#        style={% if is_dark_theme %}#}
{#            "background-image: url({% static 'images/bg_green_4.jpeg' %}); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; backdrop-filter: blur(10px);"#}
{#       {% endif %}>#}

  <div class="min-h-screen overflow-auto  ">
{#        style={% if is_dark_theme %}#}
{#            "background-image: url({% static 'images/bg_green_4.jpeg' %}); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; backdrop-filter: blur(10px);"#}
{#       {% endif %}>#}
{#        {% else %}#}
{#            "background-image: url({% static 'images/bg_light.jpg' %}); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; backdrop-filter: blur(5px);"{% endif %}>#}

      <!--    NAVIGATION-->
 {% include 'includes/navigation.html' %}
 {% include 'includes/footer.html' %}

      <!--    HEADER-->
      <header class="container m-auto flex relative shadow flex justify-center items-center py-5  border border-red-500">
            {% block title %}{% endblock %}
        <div class="flex flex-col absolute right-10 top-5 border border-red-500">
            message
            {% include 'includes/messages.html' %}
        </div>
      </header>

      <!--    DASHBOARD-->
      <main class="container m-auto h-full max-h-screen border border-red-500 ">

                  {% block content %}{% endblock %}


      </main>



     <script>
        let links = document.querySelectorAll('.nav a');
        links.forEach(link => {
            const currentLink = document.URL;
            if (link.href === currentLink) {
                link.classList.add('bg-[#012210c4]');
                link.classList.add('dark:bg-[#011b0d]');
            }

        });
    </script>
    <script>
        let alert = document.querySelectorAll('.alert');
        setTimeout(() => {
            alert.forEach(alert => {
                alert.style.display = 'none';
            })
        }, 1500);
    </script>

  <script  type="module" src="{% static 'js/app.js' %}"></script>
  </div>
  </body>
</html>